<script>
function a(){
    alert("a");
}

</script>
<div class="flex flex-wrap -m-4">
          <div class="w-full p-4 xl:w-1/3">
            <div class="relative flex flex-col h-full p-6 overflow-hidden bg-white border shadow-monotone rounded-2xl">
              <strong class="mb-4 text-sm font-semibold tracking-tighter text-black uppercase title-font lg:ml-auto">{{ description }}</strong>
              <div class="flex items-center pb-4 mb-4 font-serif text-5xl leading-none text-black">{{ heading }}</div>
             {{ content }}
             <button onClick="a();">A</button>
            </div>
          </div>